{% extends 'timetableapp/main.html' %}
{% load static %}
{% block content %}


    <div class="container-fluid">

    <div class="search">
        <input type="text" class="searchbox" placeholder="Search...">
        <input type="submit" value="Search" class="searchButton">
        <a href="{% url 'add-classcourse' %}"><button class="searchButton">Assign Course </button></a>

    </div>


	<div class="table-responsive-lg">
        <table class="table ">
            <thead class="thead-dark">
			<tr>
                <div class="header__item filter__link" >
                   <th scope="col" class="text-center">Class</th>

                </div>
                <div class="header__item filter__link">
                  <th class="text-center" scope="col">Course</th>

                </div>
                <div class="header__item filter__link">
                   <th class="text-center" scope="col">Professor</th>

                </div>

                <div class="header__item filter__link">
                    <th class="text-center" scope="col">Update</th>

                </div>
                <div class="header__item filter__link">
                     <th class="text-center" scope="col">Delete</th>

                </div>
			</tr>	
            </thead>
			
            
			
                {% for assign in AssignList %}
				
				<tr>
                
					
                        <th scope="row" class="table-light text-center">{{ assign.class_id }}</th>
                    
					
						<th scope="row" class="table-dark text-center"  >{{ assign.course_id }}</th>
                       
						<th scope="row" class="table-light text-center"> {{ assign.professor_id}}</th>
                   
                        <th scope="row" class="table-dark text-center"> <a href="{% url 'update-classcourse' assign.id %}" class="btn btn-sm btn-info">Update</a></th>
                   
                        <th scope="row" class="table-light text-center"> <a href="{% url 'delete-classcourse' assign.id %}" class="btn btn-sm btn-danger" >Remove</a></th>
                
					</tr>
				
                
                {% endfor %}
            </tbody>
        </table>
</div>
    </div>


{% endblock %}